.playlistCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #5f5e5e;
  border-radius: 5px;
  padding: 10px;
  width: 320px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.playlistCard:hover {
  background-color: #7d7c7c;
}

.playlistImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.playlistTitle {
  text-align: center;
  font-weight: bold;
}
