.navbar {
    background-color: #2b2b2b;
    padding: 20px;
    box-shadow: 0px 2px 20px rgba(0, 255, 42, 0.644);
  }
  
  .navbarList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbarItem {
    margin-right: 20px;
  }
  
  .navbarLink {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    background-color: #333333;
    border-radius: 5px;
  }
  
  .navbarLink:hover {
   background-color: #4ada45;
    
  }
  