.navbar {
    background-color: #2b2b2b;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .navbarList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbarItem {
    margin-right: 10px;
  }
  
  .navbarLink {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .navbarLink:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  