.userFavoritesContainer {
  margin-bottom: 20px;
  padding: 5px;
  background-color: #6b6b6b;
  border-radius: 5px;
  overflow: auto; 
  max-height: 800px; 
}

.favoritesList {
  list-style: none;
  padding: 0;
  overflow: auto; 
}

.favoriteItem {
  padding: 5px;
  margin: 10px;
  background-color: #494949 ;
  border-radius: 5px;
}

.favoriteItem p {
  font-weight: bold;
}

.albumImage img {
  width: 50px;
  height: 50px;
}
